In [2]:
%matplotlib inline
import pandas as pd

In [3]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [4]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1        Ashes of Kukulcan  2016
2  The Thousand Plane Raid  1969
3         Crucea de piatra  1993
4                   The 86  2015

In [5]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                               title  year       name   type character   n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself NaN

### How many movies are listed in the titles dataframe?

In [22]:
len(titles)

2

In [21]:
len(cast)

3336592

### What are the earliest two films listed in the titles dataframe?

In [32]:
len(titles.sort('year').head(2))

2

In [30]:
titles.year

0         1990
1         2016
2         1969
3         1993
4         2015
5         2011
6         2015
7         2004
8         1970
9         1955
10        2008
11        1974
12        1992
13        1985
14        1943
15        1973
16        2002
17        1976
18        2012
19        1965
20        1917
21        2009
22        2000
23        1989
24        1993
25        2011
26        1916
27        1990
28        2001
29        2013
          ...
215941    2005
215942    2014
215943    2014
215944    1980
215945    1990
215946    1992
215947    2015
215948    2008
215949    1980
215950    2013
215951    2013
215952    1991
215953    1932
215954    1986
215955    2007
215956    1967
215957    2004
215958    1981
215959    2013
215960    2015
215961    2004
215962    2012
215963    2001
215964    1973
215965    1982
215966    1922
215967    2015
215968    2005
215969    2015
215970    1983
Name: year, dtype: int64

### How many movies have the title "Hamlet"?

In [33]:
len(titles[titles.title=="Hamlet"])

19

### How many movies are titled "North by Northwest"?

In [34]:
len(titles[titles.title=="North by Northwest"])

1

### When was the first movie titled "Hamlet" made?

In [35]:
titles[titles.title=="Hamlet"].sort("year").head(1)

        title  year
43481  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [36]:
titles[titles.title=="Treasure Island"].sort("year")

                  title  year
191385  Treasure Island  1918
47718   Treasure Island  1920
192928  Treasure Island  1934
90185   Treasure Island  1950
213041  Treasure Island  1972
103635  Treasure Island  1973
190789  Treasure Island  1985
166649  Treasure Island  1999

### How many movies were made in the year 1950?

In [42]:
len(titles[titles.year==1950])

1037

### How many movies were made in the year 1960?

In [43]:
len(titles[titles.year==1960])

1457

### How many movies were made from 1950 through 1959?

In [52]:
len(titles[(titles.year >= 1950) & (titles.year <= 1959)])

12122

### In what years has a movie titled "Batman" been released?

In [55]:
titles[titles.title == "Batman"]

        title  year
52137  Batman  1989
69441  Batman  1943

### How many roles were there in the movie "Inception"?

In [58]:
len(cast[cast.title == "Inception"])

73

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [6]:
len(cast[(cast.title == "Inception") & cast.n.isnull()])

22

### But how many roles in the movie "Inception" did receive an "n" value?

In [7]:
len(cast[(cast.title == "Inception") & cast.n.notnull()])

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [68]:
cast[(cast.title=="North by Northwest") & pd.notnull(cast.n)].sort('n')

,title,year,name,type,character,n
778971,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1
3107636,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2
1301695,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3
2796809,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4
317620,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5
2704725,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6
1515268,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7
1138528,North by Northwest,1959,Martin Landau,actor,Leonard,8
2183294,North by Northwest,1959,Adam Williams,actor,Valerian,9
1618288,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10
594967,North by Northwest,1959,Robert Ellenstein,actor,Licht,11
2048118,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12
414219,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13
1348302,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14
182317,North by Northwest,1959,Edward Binns,actor,Captain Junket,15
1236856,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [70]:
cast[(cast.title=="Sleuth") & (cast.year==1972)].sort('n')

,title,year,name,type,character,n
1524146,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1
290601,Sleuth,1972,Michael Caine,actor,Milo Tindle,2
333128,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3
1309035,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4
2424114,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5
1294258,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [71]:
cast[(cast.title=="Sleuth") & (cast.year==2007)].sort('n')

          title  year                 name     type          character   n
290602   Sleuth  2007        Michael Caine    actor             Andrew   1
1155121  Sleuth  2007             Jude Law    actor               Milo   2
1613486  Sleuth  2007        Harold Pinter    actor        Man on T.V.   3
230447   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V. NaN
333129   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler NaN
2424113  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke NaN
2980725  Sleuth  2007    Carmel O'Sullivan  actress             Maggie NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [74]:
len(cast[(cast.title=="Hamlet") & (cast.year==1921)])

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [77]:
len(cast[(cast.title=="Hamlet") & (cast.year==1996)])

55

### How many "Hamlet" roles have been listed in all film credits through history?

In [78]:
len(cast[cast.title=="Hamlet"])

299

### How many people have played an "Ophelia"?

In [8]:
len(cast[cast.title=="Ophelia"])

8

### How many people have played a role called "The Dude"?

In [85]:
len(cast[cast.character=="The Dude"])

16

### How many people have played a role called "The Stranger"?

In [86]:
len(cast[cast.character=="The Stranger"])

192

### How many roles has Sidney Poitier played throughout his career?

In [88]:
len(cast[cast.name=="Sidney Poitier"])

43

### How many roles has Judi Dench played?

In [89]:
len(cast[cast.name=="Judi Dench"])

51

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [90]:
cast[(cast.name=="Cary Grant") & (cast.n==2) & (cast.year >= 1940) & (cast.year < 1950)].sort('year')

                   title  year        name   type    character  n
778968  My Favorite Wife  1940  Cary Grant  actor         Nick  2
778978    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [91]:
cast[(cast.name=="Cary Grant") & (cast.n==1) & (cast.year >= 1940) & (cast.year < 1950)].sort('year')

,title,year,name,type,character,n
778993,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1
778950,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1
778995,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1
778983,Suspicion,1941,Cary Grant,actor,Johnnie,1
778997,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1
778974,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1
778941,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1
778966,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1
778967,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1
778975,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1
778933,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1
778970,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1
778969,Night and Day,1946,Cary Grant,actor,Cole Porter,1
778972,Notorious,1946,Cary Grant,actor,Devlin,1
778989,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1
778990,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1
778965,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1
778945,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1
778954,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1

### How many roles were available for actors in the 1950s?

In [97]:
len(cast[(cast.year >= 1950) & (cast.year < 1960) & (cast.type == 'actor')])

148779

### How many roles were avilable for actresses in the 1950s?

In [98]:
len(cast[(cast.year >= 1950) & (cast.year < 1960) & (cast.type == 'actress')])

54164

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [99]:
len(cast[(cast.year <= 1980) & (cast.n==1)])

61602

### How many non-leading roles were available through from the beginning of film history through 1980?

In [100]:
len(cast[(cast.year <= 1980) & (cast.n!=1)])

1052579

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [101]:
len(cast[(cast.year <= 1980) & (pd.isnull(cast.n))])

417826